@CHARSET "UTF-8";

body {
	background-color: #1A0000;
}

#container{
	background-image: url('../images/brick2.png'); 
}	

#address, #hours, #footer {
	 padding-top: 1%;
    
}

#mainBody{
	width:100%;
}

#footer {
    clear:both;
    text-align:center;
}

td, th, p, h3{
	color: white;
	font-family: 'Bree Serif', serif;
}

#menu{
	font-family: 'Bree Serif', serif;
}
#social{
	padding-left:	20%;
}

#p1{
	font-size: 400%;
}

#p2{
	padding-left: 20%; 
	font-size: 400%;
}

#p3, #p4,#p5{
	font-size: 120%;
}